﻿@{
    Layout = null;
}

@model Volunteer_Management_System.Models.Admin


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>AdminID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Title</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AdminID</td>
                <td>@Model.Username</td>
                <td>@Model.Password</td>
                <td>@Model.Title</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
</body>

</html>