﻿@{
    Layout = null;
}

@model Volunteer_Management_System.Models.Admin


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/AdminTemplate.css">
    <title>Volunteer Management System - Manage Opportunities</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>AdminID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Title</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AdminID</td>
                <td>@Model.Username</td>
                <td>@Model.Password</td>
                <td>@Model.Title</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
    <div class="nav-item mb-2">
        <a class="nav-link d-flex align-items-center blue-text" asp-controller="Home" asp-action="Dashboard">
            <i class="fas fa-users mr-2"></i> Dashboard
        </a>
    </div>
</body>

</html>