@model PeopleListViewModel

@foreach (var person in Model.People)
{
    <div>
        <h4>PersonID: @person.PersonID</h4>
        <h4>Name: @person.FirstName @person.LastName</h4>
        <h4>Username: @person.Username</h4>
        <h4>Password: @person.Password</h4>
        <h4>Email: @person.Email</h4>
        <h4>Address: @person.Address</h4>
        <h4>Phone Number: @person.PhoneNumbers</h4>
        <h4>Role: @person.Role</h4>
    </div>
}
