@model IEnumerable<Person>

@foreach (var person in Model)
{
    <div>
        <h4>@person.PersonID</h4>
        <h4>@person.FirstName @person.LastName</h4>
        <h4>@person.Username @person.Password</h4>
        <h4>Email: @person.Email</h4>
        <h4>Address: @person.Address</h4>
        <h4>Phone Number: @person.PhoneNumbers</h4>
        <h4>Role: @person.Role</h4>
    </div>
}
